.dialogs {
    display: grid;  /* разбить компонент диалоги на части */
    grid-template-columns: 2fr 2fr ; /*так как всего два компонента диалоги и сообщения в нутри
    первый компонент займет 2-е фракции а второй 10 фракций*/
   
}
.dialogsIitems {
    padding: 10px;
    color: white;
}

.messages {
    padding: 10px;
    color: white;
}
